
body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    font-family:
}
.main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(229, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
}
.child1{
    display: flex;
    
}


.parent-box{
    height: auto;
    width: 80%;
    background-color: white ;
    /* border: 2px solid black; */
    border-radius: 35px;
    display: flex;
}
.left-side{
    /* border: 2px solid black; */
    height: 90%;
    width: 47%;
   margin: 20px;
}

.left-side >img{
    justify-content: left;
   
    height: 55px;
    width: 80px ;
}
#txt1{
    
    
    margin: 0;
    font-size: 40px;
}
#txt2{
    font-size: 20px;
}
.right-side{
    /* border: 2px solid black; */
    height: 90%;
    width: 47%;
    margin: 20px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    
}
.right-side >input{
    height: 50px;
    width: 80%;
    font-size: 20px;
    padding-left: 10px;
}
#l1{
    text-decoration: none;
    color: rgb(63, 63, 227);
    flex-direction: column;
}
.right-side >p{
    margin-top: 30px;
  
}
#l2{
      text-decoration: none;
      color: rgb(63, 63, 227);
}
.btns{
    padding-top: 20px;
    width: 90%;
    display: flex;
    justify-content: right;
    text-align: right;
}
#btn-next{
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 16px;
    color: aliceblue;
    font-size: large;
    background-color: rgb(63, 63, 227);
}
#btn-create{
    border: none;
    background-color: white;
    font-size: large;
    color: rgb(63, 63, 227);
}
/* .footer{
    
   justify-content: center;
   align-items: center;
   text-align: center;
} */
 @media screen and (max-width: 602px) {
    *{
        margin: 0%;
        padding: 0%;
    }
    .main{

        width: 100vw;
    }
    .parent-box {
        flex-direction: column; 
        width: 85%;
        padding: 30px 20px;     
    }
    
    .left-side, .right-side {
        width: 100%;            
        padding-left: 0;      
    }
    #inp-email{
       width: 70%;
    }
    #txt2{
        display: none;
       
    }
    .left-side {
        margin: 0;
        text-align: left;
        /* margin-bottom: 25px;     */
    }

    
   
    .btns {
        width: 90%;
        justify-content: space-between; 
        margin-top: 25px;
    }
}